body {
    /* overflow-x: hidden; */
    padding: 0;
    margin: 0;
    font-family: "Red Hat Display", sans-serif;
    /* font-weight: 300; */
}

.banner {
    width: 100%;
    height: 35px;
    background-color: #222222;
}

nav {
    height: 75px;
}

.fullnav {
    display: block;
}

.compactnav {
    display: none;
}
/* Media Query */

@media (max-width: 1067px) {
    .compactnav {
        display: block;
    }

    .fullnav {
        display: none;
    }
}

.navtext a {
    font-size: 1rem;
}

.navbar-brand img {
    width: 200px;
}

.container-fluid {
    padding: 0 ;
    width: 100%;
}

.nav-link {
    color: #222222;
}

.alert {
    height: 40px;
    padding: 5px 150px;
    margin-bottom: 0;
}

.card {
    width: 18rem;
    margin-top: 2rem;
    /* margin-right: 2.2rem; */
    flex: 0 0 auto;
}

.grid {
    display: flex;
}

.dflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li a {
    font-weight: 500;
    /* font-size: 4rem; */
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    text-transform: uppercase;
    text-align: bottom; 
    font-size: 3rem;
    /* height: 26rem; */
    width: 2rem;
    margin-left: -1rem;
    /* margin-top: 2rem; */
    
}

marquee {
    color: white;
    padding: 5px;
    font-size: 12px;
}

.black {
    background-color: black;
}

.angle-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 6rem;
    padding-right: 6rem;
}

.card-image {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.card-image h3 {
    position: absolute;
    bottom: 10px;
    color: rgb(220, 220, 220);
    font-size: 14px;
    text-transform: uppercase;
}

img {
    width: 100%;
}

.cprice {
    text-decoration: line-through;
    color: gray;
}

h2+.card {
    width: 18rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    justify-content: space-evenly;
    margin-bottom: 4rem;
    /* white-space: nowrap; */
    /* padding: 20px; */
}

.discount {
    color: orange;
}

.banner-1 img {
    margin-bottom: 5rem;
}

.banner-card {
    width: 30%;
    border-radius: 2rem;
}

.banner-card img {
    width: 100%;
    border-radius: 0.5rem;
}

.container-cards {
    display: flex;
    justify-content: space-around;
}

.info3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #636363;
}

.info3-fluid {
    background-color: #F8F8F8;
    height: 15vh;
    display: flex;
    align-items: center;
}

.info3 h3 {
    font-size: 20px;
}

.info3 i {
    font-size: 30px;
    margin-right: 2rem;
    color: #636363;
}

footer {
    background-color: #000;
    height: 73vh;
    width: 100%;
    padding-top: 5rem;
}


.footer-logo-small {
    display: flex;
    width: 300px;
}

.footer-logo-small i {
    width: 3rem;
    font-size: 2rem;
    color: white;
}

footer h5 {
    color: white;
}

.center-align {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer .row img {
    /* margin-bottom: 1rem; */
}

footer ul li {
    list-style-type: none;
    padding: 0;
}

footer ul {
    padding-left: 0px;
    line-height: 2.1rem;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

.footer-logo-image {
    width: 100%;
}

.tnc {
    display: flex;
    background-color: #151515;
    height: 7vh;
    justify-content: center;
    align-items: center;
}

.tnc a {
    color: white;
    text-decoration: none;
}

.tdn {
    text-decoration: none;
    color: black;
}

h6 {
    font-size: 0.8rem;
    font-weight: 500;
}

.partner-footer-img {
    width: 3rem;
}

.partner {
    height: 10vh;
}

.exp {
    background-size: auto;
    height: 80%;
}

.grey-text-small {
    color: #636363;
    font-size: 12px;    
}

.infomsg {
    height: 10vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}