body {
    /* overflow-x: hidden; */
    padding: 0;
    margin: 0;
    font-family: "Red Hat Display", sans-serif;
    /* font-weight: 300; */
}

.banner {
    width: 100%;
    height: 35px;
    background-color: #222222;
}

nav {
    height: 75px;
}

.fullnav {
    display: block;
}

.compactnav {
    display: none;
    height: 10vh;
}
/* Media Query */

@media (max-width: 1067px) {
    .compactnav {
        display: block;
        height: 15vh;
        /* background-color: white; */
    }

    .fullnav {
        display: none;
    }
}

.navtext a {
    font-size: 1rem;
}

.navbar-brand img {
    width: 200px;
}

.container-fluid {
    padding: 0 ;
    width: 100%;
}

.nav-link {
    color: #222222;
}

.alert {
    height: 40px;
    padding: 5px 150px;
    margin-bottom: 0;
}

.card {
    width: 18rem;
    margin-top: 2rem;
    /* margin-right: 2.2rem; */
    flex: 0 0 auto;
}

.mprice, .cprice, .discount {
    margin-top: 0.5rem;
    font-size: 1rem;
}

.grid {
    display: flex;
}

.dflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li a {
    font-weight: 500;
    /* font-size: 4rem; */
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    text-transform: uppercase;
    text-align: bottom; 
    font-size: 3rem;
    /* height: 26rem; */
    width: 2rem;
    margin-left: -1rem;
    /* margin-top: 2rem; */
    
}

marquee {
    color: white;
    padding: 5px;
    font-size: 12px;
}

.black {
    background-color: black;
}

.angle-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 6rem;
    padding-right: 6rem;
}

.card-image {
    display: flex;
    justify-content: center;
    position: relative;
    /* padding: 1rem; */
}

.card-image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.card-image h3 {
    position: absolute;
    bottom: 10px;
    color: rgb(220, 220, 220);
    font-size: 14px;
    text-transform: uppercase;
}

img {
    width: 100%;
}

.cprice {
    text-decoration: line-through;
    color: gray;
}

h2+.card {
    width: 18rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    justify-content: space-evenly;
    margin-bottom: 4rem;
    /* white-space: nowrap; */
    /* padding: 20px; */
}

.discount {
    color: orange;
}

.banner-1 img {
    margin-bottom: 5rem;
}

.banner-card {
    width: 30%;
    border-radius: 2rem;
}

.banner-card img {
    width: 100%;
    border-radius: 0.5rem;
}

.container-cards {
    display: flex;
    justify-content: space-around;
}

.info3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #636363;
}

.info3-fluid {
    background-color: #F8F8F8;
    height: 15vh;
    display: flex;
    align-items: center;
}

.info3 h3 {
    font-size: 20px;
}

.info3 i {
    font-size: 30px;
    margin-right: 2rem;
    color: #636363;
}

footer {
    background-color: #000;
    height: 73vh;
    width: 100%;
    padding-top: 5rem;
}


.footer-logo-small {
    display: flex;
    width: 300px;
}

.footer-logo-small i {
    width: 3rem;
    font-size: 2rem;
    color: white;
}

footer h5 {
    color: white;
}

.center-align {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer ul li {
    list-style-type: none;
    padding: 0;
}

footer ul {
    padding-left: 0px;
    line-height: 2.1rem;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

.footer-logo-image {
    width: 100%;
}

.tnc {
    display: flex;
    background-color: #151515;
    height: 7vh;
    justify-content: center;
    align-items: center;
}

.tnc a {
    color: white;
    text-decoration: none;
}

.tdn {
    text-decoration: none;
    color: black;
}

h6 {
    font-size: 0.8rem;
    font-weight: 500;
}

.partner-footer-img {
    width: 3rem;
}

.partner {
    height: 10vh;
}

.exp {
    background-size: auto;
    height: 80%;
}

.grey-text-small {
    color: #636363;
    font-size: 12px;    
}

.infomsg {
    height: 10vh;
    border-top: 1px solid #636363;
    border-bottom: 1px solid black;
}

.sortrow {
    width: 15rem;
    height: 2rem;
    margin: 1rem 0.6rem;
    border: 1px solid gray;
    border-radius: 0.4rem;
}

.sortrow select {
    border: none;
    width: 70%;
    padding: 0;
}

.sortrow h6 {
    padding: 0;
    margin: 0;
}

 .subhead {
    display: block;
    margin-top: -0.3rem;
    color: #9b9696;
}

.card-body .button {
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    margin-bottom: 0.8rem;
}

.card-hover:hover .card-body .card-title {
    display: none;
    /* margin: 0; */
}

.card-hover:hover .card-body .button {
    display: block;
}

.badge {
    position: absolute;
    left: 0%;
    top: 5%;
    width: 30%;
    height: 5%;
    border-radius: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: orange;
}

.badge h6 {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    color: white;
}

.ratings {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 0.5rem;
    font-size: 0.7rem;
    border-radius: 1rem;
}

.wishlist {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 2rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.box {
    border-top: 1px solid #636363;
}

.box1 {
    width: 20%;
    /* padding: 0; */

}

.box1 div {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 img {
    width: 50%;
}

.smb {
    width: 60px;
    height: 60px;
    border: 1px solid #63636345;
    margin: 0.3rem;
    border-radius: 4px;
}

.smb img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.heartbutton {
    width: 50px;
    height: 50px;
    border: 1px solid #63636345;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.heartbutton i {
    font-size: 2rem;
    font-weight: 300;
}

.buttons button {
    padding: 0 4rem;
}

.btn-warning {
    background-color: #FF8033;
    border-color: #FF8033;
    margin-left: 0.5rem;
    color: white;
}

.btn-warning:hover {
    background-color: #ff6200;
    border-color: #FF8033;
    color: white;
}

.coupons {
    width: 100%;
    height: 120px;
    border: 1px solid #63636345;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.couponbox {
    width: 70%;
    height: 30%;
    background-color: #FF8033   ;
}

.coupons h5 {
    margin: 0;
}

.emi {
    width: 100%;
    height: 120px;
    padding: 0.2rem 0 0 0.6rem;
    background-color: #FF8033;
    border-radius: 0.5rem;
}

.emibox {
    width: 98%;
    height: 60%;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.4rem 1rem;
}

.accordion {
    padding: 0;
    width: 90%;
}

.warranty {
    border: 1px solid #92929242;
    background-color: #F1F1F1;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

.questions {
    background-color: rgba(255, 127, 80, 0.312);
    padding: 0.5rem;
}

.userhover {
    width: 20%;
    position: absolute;
    background-color: white;
    display: none;
    top: 100%;
    right: 40px;
    /* height: 42vh; */
    
}

.loginhover:hover {
    display: block;
    border-bottom: 1px solid #ff6200;
}

.userhover:hover {
    display: block;
}

.dropdown-menu:hover + .userhover{
    display: block;
}

 .loginhover a:hover + .userhover {
    display: block;
} 

.loginhover:hover + .dropdown-menu {
    display: block;
}

.userhover li{
    margin-left: -25px;
    list-style-type: none;
}

.userhover li a {
    text-decoration: none;
    color: black;
}

.signupbox {
    width: 80%;
    margin: 5% auto;
    border: 1px solid #636363;
    border-radius: 1rem;

}

.signupbox img {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.inputtext {
    width: 100%;
    height: 50px;
    border-radius: 0.5rem;
    border: 0.2px solid red;
    padding-left: 3rem;
}

.numberbadge-active {
    background-color: #FF8033;
    border-radius: 50%;
    width: 30px;
    margin-right: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;
    height: 30px;
    display: inline-block;
    color: white;
}

.numberbadge {
    background-color: rgba(128, 128, 128, 0.332);
    margin-right: 1rem;
    padding: 0.3rem 0.5rem;
    padding-left: 0.7rem;
    border-radius: 90%;
}

.cart-box {
    padding: 3rem 0 1rem 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.itemno {
    font-size: 0.8rem;
}

.descriptionbox {
    padding: 0 1rem 0 1rem;
}